.bg-top {
  background-image: url(./assets/bg_top.png);
}

.bg-mon {
  background-image: url(./assets/bg_mon.png);
  background-position: center;
  background-size: cover;
}

.bg-liberty {
  background-image: url(./assets/bg-liberty.png);
  background-position: center;
  background-repeat: no-repeat;
}

.bg-utility {
  background-image: url(./assets/bg-util.png);
  background-position: center;
  background-repeat: no-repeat;
}

.bg-map {
  background-image: url(./assets/bg-map.png);
  background-position: center;
  background-repeat: no-repeat;
}

.tracking-wide {
  letter-spacing: 0.05em;
}

.h-150 {
  height: 150vh;
}

#pot {
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
}

@-webkit-keyframes run {
  0% {
    left: 0;
  }

  48% {
    -webkit-transform: rotateY(0deg);
  }

  50% {
    left: calc(100% - 100px);
    -webkit-transform: rotateY(180deg);
  }

  98% {
    -webkit-transform: rotateY(180deg);
  }

  100% {
    left: 0;
    -webkit-transform: rotateY(0deg);
  }
}